job1:
  image: "docker-registry.csc.mpi-magdeburg.mpg.de:5000/ci-images/minimal/ubuntu:bionic-python3"
  script:
    - python3 -V  # Print out python version for debugging
    - pip3 install nose numpy scipy
    - cd tests
    - nosetests
  only:
    - mass-mat-hosvd
